@use 'assets/scss/variables';

input {
    background: transparent;
    border: none;
    outline: transparent;
}

.input-container {
    label {
        font-size: 1.2rem;
        margin: .5rem 0;
    }

    .input {
        background: variables.$White;
        margin: .2rem 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            background: transparent;
            font-size: 1rem;
            width: 100%;
            padding: .4rem .5rem;
        }
    }

    .icon {
        color: variables.$Black;
        font-size: 1.5rem;
    }

    .check-icon {
        color: variables.$Green;
    }

    .block-icon {
        color: variables.$Red;
    }

    .error-container {
        font-size: .95rem;
        transition: all .2s ease;

        .error-message {
            font-weight: 400;
            color: #ff0000;
        }
    }
}
