// Font color:
$White: #EBE9E9;

// Emphasis colors:
$Black: #000;
$Gray: #222;
$Dark-Gray: #141414;

// Secondary colors:
$Light-Gray: #424242;
$Hovered-Gray: #555454;

$Red: #b60101;
$Hovered-Red: #c90202;

// Verified color: 
$Green: #007e06;

// Links
$Blue: #0246c4;