@use 'assets/scss/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: variables.$White;
    font-size: 1rem;
    font-family: 'Red Hat Display', -apple-system, BlinkMacSystemFont, sans-serif;
}

li {
    list-style: none;
}


// Defined Buttons

button {
    background: transparent;
    border-radius: none;
    cursor: pointer;
    border: none;
}

.main-button {
    background: variables.$Red;
    color: variables.$White;

    margin: .5rem 0;
    padding: .5rem 2rem;

    transition: all .2s linear;

    &:hover {
        background: variables.$Hovered-Red;
    }

    &:active {
        background: variables.$Red;
    }

    &:disabled {
        opacity: .5;
    }
}

.secondary-button {
    background: transparent;
    border: .1rem solid variables.$White;
    color: variables.$White;
    font-size: 1rem;

    padding: .5rem 2rem;

    transition: all .2s linear;
    

    &:hover {
        border: .1rem solid variables.$Hovered-Gray;
    }

    &:active {
        border: .1rem solid variables.$Light-Gray;
    }

    &:disabled {
        opacity: .5;

    }
}