@use 'assets/scss/variables';

.users-not-found-page {
    .modal-window {
        article {
            background: variables.$Dark-Gray;
            width: 20rem;
            padding: 1.5rem;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1.1rem;
                margin: .5rem 0;
            }

            .main-button {
                font-size: 1rem;
                width: 100%;
            }
        }
    }
}