// Focus colors
$primary-color: #000;
$secondary-color: #eb0000;
$third-color: #080808;
$fourth-color: #232323;
$tranparent-background: #0000009c;

// Text colors
$primary-text-font: 'Inter';
$primary-text-color: #f4f4f4;
$secondary-text-color: #000;

// Details
$error-color: #ff0000;
$succes-color: #00aa2b;
$white-color: #FFF;
$gray-color: #989797;
$dark-gray-color: #3f3e3e;