@use 'global/_variables.scss';

* {
    box-sizing: border-box;
    color: variables.$primary-text-color;
    padding: 0;
    margin: 0;
}

body {
    font-family: variables.$primary-text-font;
    min-height: 100vh;
}

ul, ol {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

main {
    background: variables.$third-color;
    min-height: 100vh;
    padding: 0 0 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .limited-list {
            min-height: 56rem;
        }
    }
}

