@use 'global/_variables.scss';

* {
    box-sizing: border-box;
    color: variables.$primary-text-color;
    padding: 0;
    margin: 0;
}

body {
    font-family: variables.$primary-text-font;
    min-height: 100vh;
}

ul, ol {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

main {
    min-height: 100vh;
}