@use 'global/_variables.scss';

.reviews {
    align-items: flex-start;

    ul {
        width: 100%;
        padding: 0 2rem;

        li {
            .review {
                margin: 0 0 1.5rem 0;

                a {
                    text-decoration: none;
                    width: -moz-fit-content;
                    width: fit-content;

                    margin: .5rem 0;

                    gap: .5rem;
                    display: flex;
                    align-items: center;

                    .profile-img {
                        border-radius: 50%;

                        width: 3rem;
                        height: 3rem;
                    }

                    .user-name {
                        font-size: 1.2rem;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}