@use 'assets/scss/variables';

.body {
    background: variables.$Dark-Gray;
    min-height: 100vh;

    .category-page {
        h2 {
            font-size: 1.5rem;
            margin: 0 1rem;
        }

        .list-section {
            min-height: 100vh;
        }

        h4 {
            text-align: center;
        }
    }
}