@use '../../../../assets/scss/variables';

.sign-up-page {
    background: url('../background-image.jpeg') no-repeat top;
    box-shadow: inset 0 0 10rem 5rem variables.$Black;
    object-fit: cover;

    min-height: 100vh;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;


    .sign-up-card {
        box-shadow: 0 0 5rem 1rem variables.$Black;
        width: 45%;
        min-width: 40rem;

        display: flex;

        .ilustrative-img {
            background: url('../ilustrative-image.jpeg') no-repeat center left;
            object-fit: cover;
            width: 45%;
        }

        .action-container {
            background: variables.$Dark-Gray;
            width: 55%;
            padding: 1.5rem;

            .welcome-container {
                margin: 0 0 1rem 0;

                h1 {
                    font-size: 2rem;
                }
            }

            .sign-up-form {
                display: flex;
                flex-direction: column;

                .basic-info {
                    display: flex;
                    justify-content: space-between;

                    .input-container {
                        width: calc(95% / 2);

                        input {
                            width: 100%;
                        }
                    }
                }

                .input-container {
                    margin: .3rem 0;
                        
                }

                .loggin {
                    font-size: .8rem;
                    margin: .5rem 0;

                    .loggin-link {
                        color: variables.$Blue;

                        &::before {
                            content: " ";
                        }
                    }
                }

                .error-message {
                    color: variables.$Hovered-Red;
                    font-size: .9rem;
                    margin: -.5rem 0 0 0;
                }
            }
        }
    }
}


@media (max-width: 750px) {
    .sign-up-page {
        .sign-up-card {
            width: 60%;
            min-width: 20rem;

            .ilustrative-img {
                display: none;
            }

            .action-container {
                width: 100%;

                .sign-up-form {
                    .input-container {
                        .error-container {
                            font-size: .98rem;
                        }
                    }

                    .loggin {
                        font-size: .9rem;
                    }

                    .main-button {
                        font-size: 1rem;
                        font-weight: 700;
                   }
                }
            }
        }
    }
}