@use 'global/_variables';

.navbar {
    background: variables.$primary-color;

    ul {
        list-style: none;
        padding: 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .links-container {
            display: flex;
            justify-content: space-around;
            gap: 1.5rem;
        }
    }
}