@use 'assets/scss/variables';

.main-header {
    background: variables.$Black;
    box-shadow: 0 0 2rem .5px variables.$Dark-Gray;
    padding: 1rem;

    min-width: fit-content;
    width: 100%;

    nav {
        width: 100%;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-container {
                cursor: pointer;

                display: flex;
                align-items: center;

                .logo-icon {
                    font-size: 2.5rem;
                }

                .logo-text {
                    font-size: 1.8rem;
                    margin: 0 .5rem;
                }
            }

            .options-container {
                min-width: fit-content;

                display: flex;
                justify-content: space-around;

                ul {
                    display: flex;
                    align-items: center;
                    
                    .options {
                        color: variables.$White;
                        text-decoration: none;
                        font-weight: 500;
                        
                        padding: .2rem 0;
                        margin: 0 1rem;

                        transition: color .1s linear, border-bottom .2s linear;

                        &:hover {
                            color: variables.$Red;
                        }

                        &.active {
                            color: variables.$Hovered-Red;
                            border-bottom: .2rem solid variables.$Hovered-Red;
                        }
                    }

                    .user-options-container {
                        padding: 0 .5rem;
                        position: relative;

                        .user-img-container {
                            width: 2.2rem;
                            display: flex;
                            align-items: center;

                            .user-img {
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .user-options {
                            background: variables.$Gray;
                            border: .2rem solid variables.$Black;
                            box-shadow: 0 0 2rem .2px variables.$Light-Gray;
                            padding: .5rem;

                            // min-width: fit-content;
                            width: 10rem;

                            position: absolute;
                            right: 0;

                            display: flex;
                            flex-direction: column;

                            h2 {
                                border-bottom: .1rem solid variables.$Light-Gray;
                                font-size: 1.2rem;

                                padding: 0 .5rem .8rem .5rem;
                                margin: .5rem 0 .8rem 0;
                            }

                            button {
                                color: variables.$White;
                                font-size: 1.2rem;

                                padding: .4rem .2rem;

                                display: flex;
                                align-items: center;
                                transition: background .1s linear;

                                .icon {
                                    color: variables.$White;
                                    font-size: 1.2rem;
                                    margin: 0 .5rem 0 0;
                                }

                                &:hover {
                                    background: variables.$Light-Gray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .main-header {
        padding: .5rem;

        nav {
            ul {
                flex-direction: column;

                .logo-container {
                    .logo-icon {
                        font-size: 1.8rem;
                    }

                    .logo-text {
                        font-size: 1.2rem;
                    }
                }

                .options-container {
                    margin: .5rem 0;
                    padding: 0 1rem;
                    
                    ul {
                        flex-direction: row;

                        .options {
                            margin: 0 .5rem;
                        }
                    }
                }
            }
        }
    }
}