@use 'global/_variables.scss';

.loading-icon {
    font-size: 2rem;
    fill: variables.$primary-text-color;
    animation: loading .5s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}