@use 'global/_variables.scss';

.loading {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        font-size: 1.2rem;
        margin: 0 0 .5rem 0;
    }

    .loading-icon {
        font-size: 2rem;
        fill: variables.$primary-text-color;
        animation: loading .5s ease-in-out infinite;
    }
}

.loading-icon {
    font-size: 2rem;
    fill: variables.$primary-text-color;
    animation: loading .5s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}