@use 'global/_variables.scss';

.limited-list-container {
    width: 100%;
    min-height: 62rem;

    display: flex;
    flex-direction: column;

    div > .loading {
        margin: auto 0;
    }

    .title-container {
        padding: 1.5rem 1rem;
        cursor: pointer;
        
        h3 {
            text-decoration: none;
            color: variables.$primary-text-color;
            font-size: 2rem;
        }

        .title-link {
            align-self: start;
            text-decoration: none;   

            display: flex;
            align-items: center;

            transition: all .1s linear;
    
            .icon {
                font-size: 1.5rem;
                opacity: 0;
                margin: .2rem .4rem 0 .4rem;
                transition: all .1s linear;
            }
    
            &:hover {
                margin: 0 0 0 1rem;
    
                .icon {
                    opacity: 1;
                    transform: translateX(.4rem);
                }
            }
        }
    }
    
    .limited-list {
        align-self: center;

        height: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;

        .show-more-button {
            background: variables.$fourth-color;
        
            width: 12rem;
            height: 100%;
            min-height: 18rem;
        
            padding: .2rem 0;
        
            .icon {
                fill: variables.$primary-text-color;
                font-size: 3rem;
            }
        }
    }
}