@use 'global/_variables.scss';

footer {
    background: variables.$primary-color;
    padding: 4rem 0 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .copyright {
        color: variables.$gray-color;
        padding: 1rem 0 -2rem 0;

        a {
            text-decoration: none;
            padding: 0 0 0 .5rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .first-row {
        display: flex;
        justify-content: space-around;

        .credits-zone {
            width: 20%;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            p {
                font-size: .8rem;
                color: variables.$gray-color;
            }

            a {
                text-decoration: none;
            }
    
            .starflix-credits {
                margin: 0 0 2rem 0;
    
                .logo-container {
                    margin: 0 0 .5rem 0;
                    
                    .logo-icon {
                        font-size: 2.2rem;
                    }
    
                    .logo-text {
                        font-size: 2rem;
                    }
                }
            }
    
            .tmdb-credits {
                img {
                    width: 10rem;
                    margin: 0 0 .5rem 0;
                }
            }
        }

        .pages-section {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
    
            .page-information {
                padding: .8rem 1rem;
                
                h4 {
                    font-size: 1.6rem;
                    margin: 0 0 1rem 0;
                }
        
                ul {
                    li {
                        margin: .8rem 0;
        
                        a {
                            font-size: 1rem;
                            text-decoration: none;
        
                            span {
                                color: variables.$gray-color;
                            }
        
                            &:hover {
        
                                span {
                                    color: variables.$primary-text-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}

@media (max-width: 1025px ) {
    footer {
        flex-direction: row;

        .pages-section {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media (max-width: 850px) {
    footer {
        flex-direction: column;
        align-items: center;

        .credits-zone {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3rem;
    
            .starflix-credits {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 680px) {
    footer {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

        .credits-zone {
            width: 100%;

            padding: 0 1rem;

            flex-direction: column;
            justify-content: column;
            align-items: center;
            gap: 3rem;
    
            .starflix-credits {
                width: 100%;
                margin: 2rem 0 0 0;

                flex-direction: column;
                justify-content: center;

                .logo-container {
                    margin: 0 0 .5rem 0;

                    display: flex;
                    justify-content: center;
                }

                .credits {
                    text-align: center;
                }
            }

            .tmdb-credits {
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    width: auto;
                    margin: 0 0 .3rem 0;
                }

                .credits {
                    text-align: center;
                }
            }
        }

        .pages-section {
            .page-information {
                width: 50%;

                h4 {
                    text-align: center;
                }

                ul {
                    li {
                        text-align: center;

                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}