@use 'global/_variables.scss';

.search-results {
    width: 100%;
    align-items: flex-start;

    .title-container {
        padding: 1.5rem 1rem;
        cursor: pointer;
    
        h3 {
            text-decoration: none;
            color: variables.$primary-text-color;
            font-size: 2rem;
        }
    }
}