@use 'global/_variables.scss';

main {
    padding: 0 0 2rem 0;

    section.hero-section {
        height: 90vh;
        position: relative;
    
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    main {
        section.hero-section {
            height: 70vh;
        }
    }
}