@use 'assets/scss/variables';

.loading-page {
    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    div {
        h2 {
            font-size: 2rem;
            
        }
    }
}